
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <center>
            <h1>Vendor Registration </h1>
            <h5>Complete form below to signup as a vendor</h5>
        </center>
        <hr>
        <div style="padding-left: 200px;">
            <h2 ><mark style="background-color: cadetblue;"> Contact Information</mark></h3>
            <h3 >Organization/Business Name</h4>
            <input type="text" width="200px" height="40px" ><br>
            <h3 style="padding-right: 320px;">Company Address</h4>
            <input type="text" width="200px" height="40px" ><br>
            <p>street adress</p>
            <input type="text" width="200px" height="40px" ><br>
            <p>street address2</p>
            <div style="display: flex; justify-content:left; column-gap: 10px;">
                <div>
                    <input type="text" width="200px" height="40px" ><br>
                    <p>city</p>

                </div>
                <div>
                    <input type="text" width="200px" height="40px" ><br>
                    <p>State / Province </p>
                </div>
            </div>
            <div style="display: flex; justify-content:left; column-gap: 10px;">
                <div>
                    <input type="text" width="200px" height="40px" ><br>
                    <p>Postal / Zip Code</p>

                </div>
                <div>
                    <input type="text" width="200px" height="40px" ><br>
                    <p>country </p>
                </div>
            </div>
            
            <h3>point of contact</h3>
            <div style="display: flex; justify-content:left; column-gap: 10px;">
                <div>
                    <input type="text" width="200px" height="40px" ><br>
                    <p>FIRST NAME</p>

                </div>
                <div>
                    <input type="text" width="200px" height="40px" ><br>
                    <p>LAST NAME </p>
                </div>
            </div>
            <h4>phone number</h4>
            <input type="text" height="40px">
            <h4>Email</h3>
            <input type="text" height="40px" placeholder="ex:manoj@gmail.com"><br>
            <h2>company overview</h2>
            <hr>
            <h4>General Details of Services/Goods</h4>
            <input type="text" style="padding-bottom: 80px;padding-right: 200px;">
            <h4>Establishment Date</h4>
            <input type="date" style="padding-right: 50px;padding-left: 50px;">
            <p>date</p>
            <h4>insured?</h4>
            <div style="display: flex; justify-content:left; column-gap: 50px;">
                <div>
                    <input type="radio" width="200px" height="40px" >Yes
                </div>
                <div>
                    <input type="radio" width="200px" height="40px" >No
                </div>
            </div>
            <h4>Licenced</h4>
            <div style="display: flex; justify-content:left; column-gap: 50px;">
                <div>
                    <input type="radio" width="200px" height="40px" >Yes
                    

                </div>
                <div>
                    <input type="radio" width="200px" height="40px" >No
                   
                </div>
            </div>
            <h2>Banking Information</h2>
            <hr>
            <div style="display: flex; justify-content:left; column-gap: 10px;">
                <div>
                    <p>Bank Name</p>
                    <input type="text" width="200px" height="40px" ><br>
                </div>
                <div>
                    <p>Beneficiary Name</p>
                    <input type="text" width="200px" height="40px" ><br>
                </div>
            </div>
            <p>Account Number</p>
            <input type="text" width="200px" height="40px" ><br>
            <p>I hereby affirm that all information provided above is accurate to the best of my knowledge<br>
                 and belief, and I understand that this information will be considered material in the evaluation <br>
                 of quotations, bids and proposals.</p>
            <submit style="background-color: rgb(39, 37, 37);color: antiquewhite; padding: 10px; margin-left: 500px;">send application</submit>




   



    
    
    
</body>
</html>